/** Tab bottom icons. **/
ion-tab-button[aria-selected=true] .arion-tab-sel {
  border-bottom: 5px solid var(--ion-color-primary);
}
.arion-tab-sel {
  width: 30px;
  height: 4px;
  position:absolute;
  bottom: 0;
}
