
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<ion-list>
  <ion-item lines="full">
    <ion-icon slot="start" name="moon"></ion-icon>
    <ion-label>Dark Mode</ion-label>
     <theme-switch-toggle (ionChange)="setAppTheme()" [themes]="themes"></theme-switch-toggle>
  </ion-item>
</ion-list>
</ion-content>
