
<ion-header class="lf-header-primary" no-border>
	<ion-toolbar class="lf-header-toolbar">
	  <ion-title class="lf-header-title">Search</ion-title>               
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-header collapse="condense">
		<ion-toolbar color="primary" class="lf-header-toolbar">
		  <ion-title size="large">Search</ion-title>
		</ion-toolbar>
		<ion-toolbar color="primary" class="lf-header-toolbar">
		  <ion-searchbar class="ion-padding" animated="true" searchIcon="/assets/fonts/icons/search.svg" debounce="500" placeholder="Search for works and more"></ion-searchbar>
		</ion-toolbar>
	</ion-header>
    
	<ion-grid class="arion-discover-header ion-padding">
	  <ion-row><ion-col><h5 class="product-sans-header arion-search-header-text">Anime and Manga</h5></ion-col>
	    <ion-col><ion-button class="product-sans arion-discover-header-button" shape="round" fill="clear" color="primary" float-right>More</ion-button></ion-col>
	  </ion-row>
    </ion-grid>

</ion-content>
