<ion-header class="arion-statusbar-shadow" [class.arion-statusbar-shadow-hide]="hideToolbar">
    <div class="arion-statusbar-shadow"></div>
</ion-header>
<ion-content class="ion-padding" [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <div class="ion-margin-vertical"></div>
    <div class="arion-sep-5"></div>
    <div (click)="openLoginModal()" class="ion-padding ion-justify-content-center">
      <ion-avatar slot="center" class="ion-margin-vertical center-align-content user-info-icon user-gravatar">
        <img src="/assets/images/avatar_default.png">
      </ion-avatar>
    <div class="ion-margin-vertical"></div>
      <ion-card-title class="ion-text-center">Not logged in</ion-card-title>
      <ion-card-subtitle class="ion-text-center">Log in to your account</ion-card-subtitle>
    <div class="ion-margin-vertical"></div>
    </div>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label color="medium" class="allcaps product-sans">Profile</ion-label>
      </ion-list-header>
      <ion-item routerLink="/option/about">
        <ion-icon slot="start" color="primary" src="/assets/fonts/icons/grid.svg"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-item>
      <ion-item routerLink="/option/about">
        <ion-icon slot="start" color="primary" src="/assets/fonts/icons/lego-block.svg"></ion-icon>
        <ion-label>My Subscriptions</ion-label>
      </ion-item>
      <ion-item routerLink="/option/about">
        <ion-icon slot="start" color="primary" src="/assets/fonts/icons/update.svg"></ion-icon>
        <ion-label>History</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="primary" src="/assets/fonts/icons/mail.svg"></ion-icon>
        <ion-label>Messages</ion-label>
      </ion-item>
    </ion-list>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label color="medium" class="allcaps product-sans">Settings</ion-label>
      </ion-list-header>
      <ion-item routerLink="/settings/main">
        <ion-icon slot="start" color="primary" src="/assets/fonts/icons/settings.svg"></ion-icon>
        <ion-label>App Settings</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="primary" src="/assets/fonts/icons/layers.svg"></ion-icon>
        <ion-label>Account Settings</ion-label>
      </ion-item>
      <ion-item routerLink="/option/feedback">
        <ion-icon slot="start" color="primary" src="/assets/fonts/icons/comment.svg"></ion-icon>
        <ion-label>Send feedback</ion-label>
      </ion-item>
      <ion-item routerLink="/about">
        <ion-icon slot="start" color="primary" src="/assets/fonts/icons/info.svg"></ion-icon>
        <ion-label>About Arion</ion-label>
        <ion-card-subtitle>1.4.1</ion-card-subtitle>
      </ion-item>
    </ion-list>
</ion-content>
