/** Use systematic mix-ins for whitespace size. **/
@for $sep from 1 through 10 {
    $separator-size: 20px * $sep;
    .app-separator-#{$sep} { 
        height: $separator-size;
        }
}

/** Since icons used do not work well with Ionic,
set values for them when they're set in the header. **/
.th-icon-header {
  font-size: 16px !important;
  margin-top: 6px;
  margin-right: 6px;
}

/** Status Bar overlay. Useful for light themes. **/
.app-statusbar-overlay {
  height: 2.5px !important;
  z-index: 999 !important;
  background: var(--ion-background-color);
}
.app-statusbar-overlay-hide::after {
  opacity: 0 !important;
}

/** Make several components transparent for easier theming. **/
.app-transparent-element {
  background-color: rgba(0, 0, 0, 0.0) !important;
  background: rgba(0, 0, 0, 0.0) !important;
  --background: rgba(0, 0, 0, 0.0) !important;
}

/** Disable ripple on certain elements. **/
.app-no-ripple {
  --ripple-color: transparent;
}

/** Vertical alignment. **/
.vertical-align-content {
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}

.arion-discover-header-text {
  font-size: 12sp !important;
  display: inline-block;
  margin-top: 12.5px;
}
