@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/roboto/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@font-face {
font-family: 'Manrope Regular';
font-style: normal;
font-weight: normal;
src: local('Manrope Regular'), url('/assets/fonts/manrope/regular.woff') format('woff');
}

@font-face {
font-family: 'Manrope Italic';
font-style: normal;
font-weight: normal;
src: local('Manrope Italic'), url('/assets/fonts/manrope/italic.woff') format('woff');
}

@font-face {
font-family: 'Manrope Thin Regular';
font-style: normal;
font-weight: normal;
src: local('Manrope Thin Regular'), url('/assets/fonts/manrope/thin.woff') format('woff');
}

@font-face {
font-family: 'Manrope Light Regular';
font-style: normal;
font-weight: normal;
src: local('Manrope Light'), url('/assets/fonts/manrope/light.woff') format('woff');
}

@font-face {
font-family: 'Manrope Medium Regular';
font-style: normal;
font-weight: normal;
src: local('Manrope Medium'), url('/assets/fonts/manrope/medium.woff') format('woff');
}

@font-face {
font-family: 'Manrope Black Regular';
font-style: normal;
font-weight: normal;
src: local('Manrope Bold'), url('/assets/fonts/manrope/bold.woff') format('woff');
}

@font-face {
font-family: 'Manrope Bold';
font-style: normal;
font-weight: normal;
src: local('Manrope Semibold'), url('/assets/fonts/manrope/semibold.woff') format('woff');
}

@font-face {
font-family: 'Roboto Regular';
font-style: normal;
font-weight: normal;
src: local('Roboto Regular'), url('/assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto Italic';
font-style: normal;
font-weight: normal;
src: local('Roboto Italic'), url('/assets/fonts/roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto Thin Regular';
font-style: normal;
font-weight: normal;
src: local('Roboto Thin Regular'), url('/assets/fonts/roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto Light Regular';
font-style: normal;
font-weight: normal;
src: local('Roboto Light Regular'), url('/assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto Medium Regular';
font-style: normal;
font-weight: normal;
src: local('Roboto Medium Regular'), url('/assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto Black Regular';
font-style: normal;
font-weight: normal;
src: local('Roboto Black Regular'), url('/assets/fonts/roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto Thin Italic';
font-style: normal;
font-weight: normal;
src: local('Roboto Thin Italic'), url('/assets/fonts/roboto/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto Light Italic';
font-style: normal;
font-weight: normal;
src: local('Roboto Light Italic'), url('/assets/fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto Medium Italic';
font-style: normal;
font-weight: normal;
src: local('Roboto Medium Italic'), url('/assets/fonts/roboto/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto Bold';
font-style: normal;
font-weight: normal;
src: local('Roboto Bold'), url('/assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Roboto Bold Italic'), url('/assets/fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto Black Italic';
font-style: normal;
font-weight: normal;
src: local('Roboto Black Italic'), url('/assets/fonts/roboto/Roboto-BlackItalic.ttf') format('truetype');
}

p, span, ion-label, ion-text {
   font-family: 'Roboto Regular' !important;
 }

ion-title, h1, h2, h3, ion-card-title, ion-list-header {
   font-family: 'Manrope Bold';
   margin-top: 12px !important;
}

.product-sans {
   font-family: 'Manrope Bold';
}

.product-sans-header {
   font-family: 'Manrope Bold';
}

